---
import { Container, Heading, Link } from '@rr/ui/components'
import Layout from '~/layouts/Layout.astro'
import { useTranslations } from '~/i18n/ui'
import LinkIcon from 'iconoir/icons/link.svg'

export const prerender = false

const t = useTranslations();
---

<Layout>
  <Container size="lg" class="relative">
    <Heading tag="h1" size="xl" class="mb-8">
      Manage
    </Heading>

    <ul class="list-disc pl-4 mb-8">
      <li>
        <Link href="/app/manage/manual">{t('manage.manual')}</Link>
      </li>
    </ul>

    <ul class="">
      <li>
        <Link
          target="_blank"
          href={`${process.env.PUBLIC_API_URL}/_/`}
          class="inline-flex gap-2 items-center"
        >
          <LinkIcon width="16" class="inline" />
          Back-end: Pocketbase
        </Link>
      </li>
      <li>
        <Link
          target="_blank"
          href={(process.env.KEYSTONE_GRAPHQL_ENDPOINT || '').replace('/api/graphql', '')}
          class="inline-flex gap-2 items-center"
        >
          <LinkIcon width="16" class="inline" />
          Content: Keystone CMS
        </Link>
      </li>
    </ul>
  </Container>
</Layout>
