---
import Layout from "~/layouts/Layout.astro";
import Alert from "@rr/ui/components/alert/Alert.astro";
import Button from "@rr/ui/components/button/Button.astro";
import { EmailVerification } from "@rr/astro-pocketbase/components";

export const prerender = false;
---

<Layout>
  <astro-pocketbase pocketbase-url={process.env.PUBLIC_API_URL}>
    <div class="mx-auto max-w-lg">
      <h1 class="text-2xl font-bold mb-6">E-mail confirmation</h1>
      <EmailVerification client:idle class:list={["block mb-6"]}>
        <Alert
          slot="loading"
          variant="info"
          text="Confirming e-mail address..."
        />
        <Alert slot="missing-token" variant="error" text="Missing token..." />
        <Alert
          slot="error"
          variant="error"
          text="Error confirming e-mail address, please try agian..."
        />
        <Alert
          slot="success"
          variant="success"
          text="Successfully confirmed e-mail address..."
        />
      </EmailVerification>
      <Button href="/dashboard" label="Go to Dashboard" />
    </div>
  </astro-pocketbase>
</Layout>

<script src="@rr/astro-pocketbase/client/astro-pocketbase.ts"></script>
