---
import { actions } from 'astro:actions'
import { type User } from '~/schemas/user'
import { useTranslations } from '~/i18n/ui'
import { Button, Alert } from '@rr/ui/components'

const t = useTranslations()

const user = Astro.locals.pb.authStore.record as unknown as User

const result = Astro.getActionResult(actions.sendEmailVerification);
---

{
  result?.error
    ? (
        <Alert
          variant="error"
          text={t('confirm-email.resend.error')}
          class="mb-4"
        />
      )
    : result?.data
      ? (
          <Alert
            variant="success"
            text={t('confirm-email.resend.success')}
            class="mb-4"
          />
        )
      : (
          !user.verified && (
            <Alert
              variant="warning"
              class="flex justify-between items-center flex-wrap md:flex-nowrap gap-y-4 gap-x-8 mb-12"
            >
              <p class="text-base">{t('confirm-email.warning.text')}</p>
              <form method="POST" action={actions.sendEmailVerification} class="-m-1 flex-shrink-0">
                <Button label={t('confirm-email.warning.button')} />
              </form>
            </Alert>
          )
        )
}
