---
import { Alert, Button, Heading, Input, Textarea } from '@rr/ui/components'
import { isInputError } from 'astro:actions'
import { actions } from 'astro:actions'
import { useTranslations } from '~/i18n/ui'
import { fieldError } from '~/forms'
import type { Listing } from '~/schemas/listing'
import type { Team } from '~/schemas/team'
import type { ui } from '~/i18n/ui'
import type { defaultLang } from '~/i18n/ui'

export const prerender = false

interface Props {
  listing: Listing
  userTeam: Team
  class?: string
}

const { listing, userTeam, class: className } = Astro.props

const t = useTranslations()

const result = Astro.getActionResult(actions.contactListing)

const data
  = Astro.request.method === 'POST' ? await Astro.request.formData() : null
---

<div id="contact-form" class={className}>
  {result?.data
    ? <Alert variant='success'>
        <Heading tag="h2" size="md" class="mb-4">
          Vielen Dank für deine Anfrage!
        </Heading>
        <p class="text-heading font-bold mb-4">
          Deine Kontaktaufnahme ist eingegangen und wurde
          übermittelt. Die abgebende Organisation kann sich
          nun direkt bei dir melden. Bitte hab etwas Geduld
          - und Verständnis, falls es mehrere Anfragen
          gleichzeitig gab und das Angebot schon vergeben
          sein sollte. Bei Fragen oder Problemen schreib
          uns gerne eine E-Mail an
          <a href="mailto:info@ressourcenrevolution.org">info@ressourcenrevolution.org</a>.
        </p>
        <p class="text-heading">
          Danke, dass du Teil der RessourcenRevolution-Community bist, Material
          wiederverwenden möchtest und damit nachhaltige Lösungen förderst
        </p>
      </Alert>
    : <>
        <Heading tag="h2" size="md" class="mb-6">
          {t('listing-page.contact.title')}
        </Heading>

        <div class="prose mb-6" set:html={t('listing-page.contact.text')} />

        {listing.status === 'reserved'
          ? <Alert variant="info">
              <p>{t('contact-form.deactivated')}</p>
            </Alert>
          : <form method="post" action={actions.contactListing + '#contact-form'} class="flex flex-col gap-6">
              <input type="hidden" name="listing" value={listing.id} />
              <Input
                type="text"
                name="name"
                label={t('contact-form.name.label')}
                value={data?.get('name') as string}
                error={fieldError('name', result?.error)}
                required
              />
              <Input
                type="email"
                name="email"
                label={t('contact-form.email.label')}
                value={data?.get('email') as string}
                error={fieldError('email', result?.error)}
                required
              />
              <Input
                name="phonenumber"
                label={t('contact-form.phonenumber.label')}
                value={data?.get('phonenumber') as string}
                error={fieldError('phonenumber', result?.error)}
              />
              <Input
                name="team_type"
                label={t('contact-form.team_type.label')}
                value={t(`team-type.${userTeam.type}` as keyof (typeof ui)[typeof defaultLang])}
                error={fieldError('team_type', result?.error)}
                readonly
              />
              <Textarea
                name="message"
                label={t('contact-form.message.label')}
                value={data?.get('message') as string}
                error={fieldError('message', result?.error)}
                required
              />
              {
                result?.error && !isInputError(result.error) && (
                  <Alert variant="error" text={result.error.message} />
                )
              }
              <Button type="submit" label={t('contact-form.submit')} class="self-start" />
            </form>
        }
      </>
  }
</div>
