---
import { Container } from '@rr/ui/components'
import { DocumentRenderer } from 'astro-document-renderer'
import type { Footer } from '~/schemas/footer'

interface Props {
  footer: Footer | null
  class?: string
}
const { footer, class: className } = Astro.props;
---

<footer class:list={['w-full px-(--body-inline-padding)', className]}>
  <Container
    size="xl"
    class:list={[
      'w-full flex flex-col justify-between gap-6 mt-24 pb-8',
      'md:flex-row md:gap-0',
      'lg:px-0',
    ]}
  >
    <div class="[&>p]:mb-3 [&_a]:underline">
      {footer?.content?.document && <DocumentRenderer document={footer.content.document} />}
    </div>
    <ul
      class:list={[
        'flex flex-col gap-3 text-body text-base',
        'md:items-end md:min-w-1/3',
      ]}
    >
      {footer?.links?.map(({ title, path }) => (
        <li><a href={path}>{title}</a></li>
      ))}
    </ul>
  </Container>
</footer>
