---
import { Container } from "@rr/ui/components";

interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<footer class:list={["w-full px-(--body-inline-padding)", className]}>
  <Container
    size="xl"
    class:list={[
      "w-full flex flex-col justify-between gap-6 mt-24 pb-8",
      "md:flex-row md:gap-0",
      "lg:px-0",
    ]}
  >
    <div>
      <p class="mb-3">
        <strong>
          Ressourcen<br />
          Revolution
        </strong>
      </p>
      <p class="mb-3">
        Ressourcen Revolution e.V.<br />
        Dünnewalder Straße 11<br />
        51063 Köln
      </p>
      <p>
        <a href="mailto:info@ressourcenrevolution.org" class="underline">
          info@ressourcenrevolution.org
        </a><br />
        <a href="https://ressourcenrevolution.org" class="underline">
          ressourcenrevolution.org
        </a>
      </p>
    </div>
    <ul
      class:list={[
        "flex flex-col gap-3 text-body text-base",
        "md:items-end md:min-w-1/3",
      ]}
    >
      <li>Log In</li>
      <li>Materialverteiler</li>
      <li>Über Uns</li>
      <li>Impressum</li>
      <li>Datenschutz</li>
    </ul>
  </Container>
</footer>
