---
import { DocumentRenderer } from 'astro-document-renderer'

type Props = {
  layout: [number, ...number[]]
  children: any[]
  documentRendererProps: any
}

const { layout, children, documentRendererProps } = Astro.props

const layouts = {
  1: 'grid-cols-1',
  11: 'md:grid-cols-2',
}

// Store the current number of layout columns, to be consumed by child components
Astro.locals.columns = layout.length;
---

<div
  data-module
  class={`grid gap-12 md:gap-12 lg:gap-18 items-center ${
    layouts[layout.join('')] || 'grid-cols-1'
  }`}
>
  {
    children.map(node => (
      <div class="[&>[data-module]]:my-6 [&>[data-module]:first-child]:mt-0 [&>[data-module]:last-child]:mb-0">
        <DocumentRenderer document={node.children} {...documentRendererProps} />
      </div>
    ))
  }
</div>
