---
import Layout from '~/layouts/Layout.astro'
import { Input, Button, Alert, Heading, Link } from '@rr/ui/components'
import { useTranslations, type TranslationKey } from '~/i18n/ui'
import { actions } from 'astro:actions'
import { isInputError } from 'astro:actions'
import { fieldError } from '~/forms'
import { ActionError } from 'astro:actions'
import BackgroundRect from '~/components/BackgroundRect.astro'

export const prerender = false

const t = useTranslations()

const redirect = new URL(Astro.request.url).searchParams.get('redirect') || '/app/listings'

// If already logged in, redirect to the redirect URL
if (Astro.locals.pb.authStore.isValid) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: redirect,
    },
  })
}

const result = Astro.getActionResult(actions.login)
if (!(result?.data instanceof ActionError) && result?.data) {
  const { cookie } = result?.data
  return new Response(null, {
    status: 302,
    headers: {
      'Location': redirect,
      'Set-Cookie': cookie,
    },
  })
}

const data
  = Astro.request.method === 'POST' ? await Astro.request.formData() : null;
---

<Layout>
  <div class="mx-auto max-w-lg relative">
    <BackgroundRect variant="page" class="animate-delay-400" />
    <Heading tag="h1" size="xl" class="mb-6 animate-slide-in">
      {t('login.title')}
    </Heading>
    <form class="flex flex-col gap-6" method="post" action={`${actions.login}&redirect=${redirect}`}>
      <Input
        name="email"
        type="email"
        label={t('forms.email')}
        value={data?.get('email') as string}
        error={fieldError('email', result?.error, 'forms.errors.')}
        class="animate-slide-in animate-delay-100"
        required
      />
      <Input
        name="password"
        type="password"
        label={t('forms.password')}
        value={data?.get('password') as string}
        error={fieldError('password', result?.error, 'forms.errors.')}
        class="animate-slide-in animate-delay-200"
        required
      />
      {
        result?.error && !isInputError(result.error) && (
          <Alert
            variant="error"
            text={t(
              ('login.errors.' + result.error.message) as TranslationKey,
            )}
          />
        )
      }
      <div class="flex gap-4 items-center animate-slide-in animate-delay-300">
        <Button
          label={t('login.button')}
          variant="primary"
          class="self-start"
        />
        <Button label={t('login.signup')} href="/app/signup" class="self-start" />
        <Link href="/app/password-reset" class="ml-auto">
          {t('login.forgot-password')}
        </Link>
      </div>
    </form>
  </div>
</Layout>
