---
import Layout from '~/layouts/Layout.astro'
import { Input, Button, Checkbox, Alert, Heading, Textarea, Select } from '@rr/ui/components'
import { useTranslations } from '~/i18n/ui'
import { actions } from 'astro:actions'
import { ActionError } from 'astro:actions'
import { fieldError } from '~/forms'
import { isInputError } from 'astro:actions'
import type { TranslationKey } from '~/i18n/ui'
import BackgroundRect from '~/components/BackgroundRect.astro'

export const prerender = false

const t = useTranslations()

const redirect = '/app/listings'

// If already logged in, redirect to the redirect URL
if (Astro.locals.pb.authStore.isValid) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: redirect,
    },
  })
}

const result = Astro.getActionResult(actions.signup)
if (!(result?.data instanceof ActionError) && result?.data) {
  const { cookie } = result?.data
  return new Response(null, {
    status: 302,
    headers: {
      'Location': redirect,
      'Set-Cookie': cookie,
    },
  })
}

const data
  = Astro.request.method === 'POST' ? await Astro.request.formData() : null;
---

<Layout>
  <div class="mx-auto max-w-lg relative">
    <BackgroundRect variant="page" class="animate-delay-400" />
    <Heading tag="h1" size="xl" class="mb-6 animate-slide-in">
      {t('signup.title')}
    </Heading>
    <div class="prose font-bold animate-slide-in animate-delay-100" set:html={t('signup.text')} />
    <form id="signup-form" class="flex flex-col gap-6 animate-slide-in animate-delay-200" method="post" action={actions.signup}>
      <Input
        id="firstname"
        name="firstname"
        type="text"
        label={t('forms.firstname')}
        value={data?.get('firstname') as string}
        error={fieldError('firstname', result?.error)}
      />
      <Input
        id="lastname"
        name="lastname"
        type="text"
        label={t('forms.lastname')}
        value={data?.get('lastname') as string}
        error={fieldError('lastname', result?.error)}
        required
      />
      <Input
        id="email"
        name="email"
        type="email"
        label={t('forms.email')}
        value={data?.get('email') as string}
        error={fieldError('email', result?.error, 'signup.errors.')}
      />
      <Input
        id="password"
        name="password"
        type="password"
        label={t('forms.password')}
        value={data?.get('password') as string}
        error={fieldError('password', result?.error, 'signup.errors.')}
        required
      />
      <Input
        id="team"
        name="team"
        type="text"
        label={t('forms.team')}
        value={data?.get('team') as string}
        error={fieldError('team', result?.error)}
        required
      />
      <Select
        id="team_type"
        name="team_type"
        value={(data?.get('team_type') || '') as string}
        options={[
          { value: '', label: t('forms.team-type') },
          { value: 'public', label: t('team-type.public') },
          { value: 'non-profit', label: t('team-type.non-profit') },
          { value: 'commercial', label: t('team-type.commercial') },
        ]}
        error={fieldError('team_type', result?.error)}
        required
      />
      <Input
        id="team_city"
        name="team_city"
        type="text"
        label={t('forms.team-city')}
        value={data?.get('team_city') as string}
        error={fieldError('team_city', result?.error)}
        required
      />
      <Textarea
        id="message"
        name="message"
        label={t('signup.fields.message')}
        value={data?.get('message') as string}
        error={fieldError('message', result?.error)}
        rows={6}
        required
      />
      <Checkbox
        id="terms"
        name="terms"
        checked={(data?.get('terms') as string === 'true') || false}
        value="true"
        error={fieldError('terms', result?.error, 'signup.errors.')}
        required
      >
        <span set:html={t('signup.fields.terms')} class="prose" />
      </Checkbox>
      {
        result?.error && !isInputError(result.error) && (
          <Alert
            variant="error"
            text={t(
              ('signup.errors.' + result.error.message) as TranslationKey,
            )}
            data-autofocus
            tabindex="-1"
          />
        )
      }
      <Button label={t('signup.button')} variant="primary" class="self-start" />
    </form>
  </div>
</Layout>
