@import "@rr/ui/tailwind.css";
@source "../../../../packages/ui";
@import "./page-animation.css";

@theme {
  --body-inline-padding: calc(var(--spacing) * 4);

  --animate-slide-from-left: slide-from-left 200ms var(--ease-out) forwards;
  --animate-slide-in: slide-in 200ms var(--ease-in-out) 0ms both;
  --animate-open-from-left: open-from-left 300ms var(--ease-in-out) 200ms both;

  @keyframes slide-from-left {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes open-from-left {
    0% {
      width: 0;
    }

    100% {
    }
  }
}

@utility animate-delay-* {
  animation-delay: calc(--value(integer) * 1ms);
}
