@import "@rr/ui/tailwind.css";
@source "../../../../packages/ui";

@theme {
    --body-inline-padding: calc(var(--spacing) * 4);

    --animate-slide-from-left: slide-from-left 200ms var(--ease-out) forwards;

    @keyframes slide-from-left {

        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}