---
import { NavigationItem } from "@rr/ui/components";
import { useTranslations } from "~/i18n/ui";
import logo from "../../assets/logo.png";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const authStore = Astro.locals.pb.authStore;

const t = useTranslations();
---

<header
  data-is-sticky
  class:list={["w-full flex mb-12 px-3 py-3 bg-white sticky top-0", className]}
>
  <nav class="w-full flex justify-between items-center [.is-sticky_&]:pt-1">
    <div class="flex items-center gap-6">
      <a href="/" class="font-bold mr-8">
        <img src={logo.src} alt="Logo" class="w-55" />
      </a>
      <NavigationItem href="/ueber-uns">Über uns</NavigationItem>
      {
        authStore.isValid && (
          <NavigationItem href="/dashboard">
            {t("header.dashboard")}
          </NavigationItem>
        )
      }
    </div>
    <div class="flex gap-6 pr-4">
      {
        authStore.isValid ? (
          <>
            <span>{authStore.record?.name}</span>
            <NavigationItem href="/profile">
              {t("header.profile")}
            </NavigationItem>
            <NavigationItem href="/logout">{t("header.logout")}</NavigationItem>
          </>
        ) : (
          <>
            <NavigationItem href="/login">{t("header.login")}</NavigationItem>
            <NavigationItem href="/signup">{t("header.signup")}</NavigationItem>
          </>
        )
      }
    </div>
  </nav>
</header>
