@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-body: var(--color-stone-900);
  --color-primary: oklch(97.53% 0.147 108.85);

  --text-base: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  --text-sm: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);

  --border: 3px;
}

@utility prose {
  --tw-prose-body: var(--color-body);
  --tw-prose-headings: var(--color-body);
  --tw-prose-bold: var(--color-body);
  --tw-prose-links: var(--color-body);
  line-height: 1.66;

  :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}