@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* #303633 */
  --color-body: oklch(32.61% 0.010 164.34);

  /* #201b1e */
  --color-heading: oklch(22.92% 0.010 341.15);

  /* #FFFF82 */
  --color-primary: oklch(97.53% 0.147 108.85);

  /* #F8FCF8 */
  --color-background: oklch(98.69% 0.007 145.52);

  /* #bddeae */
  --color-success: oklch(86.41% 0.074 135.96);

  --text-base: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  --text-sm: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);

  --border: 3px;
}

@utility prose {
  --tw-prose-body: var(--color-body);
  --tw-prose-headings: var(--color-heading);
  --tw-prose-bold: var(--color-body);
  --tw-prose-links: var(--color-body);
  line-height: 1.66;

  :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-weight: inherit;
  }
}