---
import { Container, Link } from '@rr/ui/components'
import Layout from '~/layouts/Layout.astro'

export const prerender = true;
---

<Layout>
  <Container size="lg" class="py-24">
    <h1 class="text-2xl font-bold text-heading mb-4">
      404 - Seite nicht gefunden
    </h1>
    <p class="text-lg text-body mb-4">
      Oops! Die Seite, die du suchst, existiert nicht oder wurde verschoben.
    </p>
    <p>
      <Link href="/" class="text-lg!">Kehre zur Startseite zurück</Link>.
    </p>
  </Container>
</Layout>
