---
import { DocumentRenderer } from 'astro-document-renderer'
import { fetchPage } from '~/keystone'
import Layout from '~/layouts/Layout.astro'
import Columns from '~/components/keystone/Columns.astro'
import Image from '~/components/keystone/Image.astro'
import Text from '~/components/keystone/Text.astro'
import Button from '~/components/keystone/Button.astro'
import Listings from '~/components/keystone/Listings.astro'
import People from '~/components/keystone/People.astro'
import Gallery from '~/components/keystone/Gallery.astro'

export const prerender = false

const { path } = Astro.params

const { page } = await fetchPage(path)

if (!page || page.access !== 'public') {
  return new Response(null, { status: 404 })
}
---

<Layout>
  <div
    class:list={[
      'prose page-animation',
      'w-full',
      'max-w-full',
      '[&>[data-module]]:my-12 md:[&>[data-module]]:my-24 [&>[data-module]:first-child]:mt-0',
      '[&>*]:max-w-5xl',
      '[&>*]:mx-auto',
      '[&>*]:w-full',
    ]}
  >
    <DocumentRenderer
      document={page.content.document}
      renderers={{
        block: { layout: Columns },
      }}
      componentBlocks={{
        image: Image,
        text: Text,
        button: Button,
        listings: Listings,
        people: People,
        gallery: Gallery,
      }}
    />
  </div>
</Layout>
