---
import Layout from "~/layouts/Layout.astro";
import { type Listing, ListingSchema } from "~/schemas/listing";
import { Button, Container } from "@rr/ui/components";
import EmailVerificationWarning from "~/components/EmailVerificationWarning/EmailVerificationWarning.astro";
import { useTranslations } from "~/i18n/ui";
import ListingList from "~/components/ListingList.astro";

export const prerender = false;

const t = useTranslations();

const items = await Astro.locals.pb
  .collection("listings")
  .getFullList({ expand: "user,user.team" });
const listings = ListingSchema.array().parse(items) as Listing[];

const isNewUser = !Astro.locals.pb.authStore.record!.roles.includes("user");
---

<Layout>
  <Container size="xl">
    <EmailVerificationWarning />
    <div class="flex justify-between items-center flex-wrap gap-4 mb-4">
      <h1 class="text-3xl font-bold text-heading">
        {t("dashboard.title")}
      </h1>
      {!isNewUser && <Button label="New listing" href="/listings/new" />}
    </div>
    {
      isNewUser ? (
        <>
          <h2 class="text-xl font-bold mb-3">
            {t("dashboard.user-approval.title")}
          </h2>
          <p>{t("dashboard.user-approval.text")}</p>
        </>
      ) : (
        <ListingList listings={listings} />
      )
    }
  </Container>
</Layout>
