---
import Layout from "~/layouts/Layout.astro";
import Input from "@rr/ui/components/input/Input.astro";
import Button from "@rr/ui/components/button/Button.astro";
import Alert from "@rr/ui/components/alert/Alert.astro";
import { usePocketbase } from "@rr/astro-pocketbase/scripts";
import { useTranslations } from "~/i18n/ui";

export const prerender = false;

const t = useTranslations();
const { login } = usePocketbase(Astro.locals.pb);

let error = "";
let email = "";
let password = "";

if (Astro.request.method === "POST") {
  const body = await Astro.request.formData();
  email = body.get("email") as string;
  password = body.get("password") as string;

  const {
    status,
    success,
    error: _error,
  } = await login({
    email,
    password,
  });
  if (success) {
    return new Response(null, {
      status: 302,
      headers: {
        Location: "/dashboard",
        "Set-Cookie": Astro.locals.pb.authStore.exportToCookie({
          secure: import.meta.env.DEV ? false : true,
        }),
      },
    });
  }
  error = _error;
  Astro.response.status = status;
}
---

<Layout>
  <div class="mx-auto max-w-lg">
    <h1 class="text-2xl font-bold mb-6">
      {t("login.title")}
    </h1>
    <form class="flex flex-col gap-6" method="post">
      <Input
        name="email"
        type="email"
        label={t("forms.email")}
        value={email}
        required
      />
      <Input
        name="password"
        type="password"
        label={t("forms.password")}
        value={password}
        required
      />
      {error && <Alert variant="error" text={error} />}
      <Button label={t("login.button")} />
    </form>
  </div>
</Layout>
