---
import Layout from "../layouts/Layout.astro";
import Input from "@rr/ui/components/input/Input.astro";
import Button from "@rr/ui/components/button/Button.astro";
import Alert from "@rr/ui/components/alert/Alert.astro";
import { usePocketbase } from "@rr/astro-pocketbase/scripts";

export const prerender = false;

const { signup } = usePocketbase(Astro.locals.pb);

let error = "";
let name = "";
let email = "";
let password = "";

if (Astro.request.method === "POST") {
  const body = await Astro.request.formData();
  name = body.get("name") as string;
  email = body.get("email") as string;
  password = body.get("password") as string;

  const {
    status,
    success,
    error: _error,
  } = await signup({
    name,
    email,
    password,
  });
  if (success) {
    return new Response(null, {
      status: 302,
      headers: {
        Location: "/dashboard",
        "Set-Cookie": Astro.locals.pb.authStore.exportToCookie({
          secure: import.meta.env.DEV ? false : true,
        }),
      },
    });
  }
  error = _error;
  Astro.response.status = status;
}
---

<Layout>
  <div class="mx-auto max-w-lg">
    <h1 class="text-2xl font-bold mb-6">Signup</h1>
    <form class="flex flex-col gap-6" method="post">
      <Input name="name" type="text" label="Name" value={name} required />
      <Input
        name="email"
        type="email"
        label="E-mail Address"
        value={email}
        required
      />
      <Input
        name="password"
        type="password"
        label="Passwort"
        value={password}
        required
      />
      {error && <Alert variant="error" text={error} />}
      <Button label="Sign up" />
    </form>
  </div>
</Layout>
